* {
    margin: 0;
    padding: 0;
}


/* 头部导航 */

.box {
    width: 1518px;
    /* border: 1px solid black; */
    margin: 0 auto;
}

header {
    width: 80%;
    height: 60px;
    /* background-color: pink; */
    margin: 0 auto;
}

header img {
    height: 50px;
    margin-left: 100px;
    float: left;
    margin-top: 5px;
}

ul {
    list-style: none;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

header .top .one {
    color: red;
    margin-left: 70px;
}

header .top ul li {
    float: left;
    line-height: 60px;
    font-size: 20px;
    padding: 0px 20px;
    /* margin-left: 50px; */
}

header .top ul li .red {
    color: red
}

header .top ul li a:hover {
    color: red;
}

header .top1 {
    padding-top: 15px;
    margin-right: 80px;
}

header .top1 a img:hover {
    transform: scale(1.5);
}

header .top1 img {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 290px;
}

header .top1 .one1 {
    float: right;
    margin-right: 10px;
    width: 60px;
    height: 30px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: red;
}

* {
    list-style: none;
    text-decoration: none;
}

body {
    height: 3000px;
    background-color: #f6f6f6;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a {
    color: #000000;
}

.header {
    width: 100%;
    height: 77px;
    background-color: #dbc9c9;
}


/* 体验报告 */

.ti_yan {
    width: 100%;
    height: 180px;
    text-align: center;
    background-color: #fff;
}

.ti_bao {
    margin: 0 auto;
}

.ti_bao h1 {
    margin-top: 30px;
}

.ti_bao div {
    margin-top: 40px;
}

.ti_bao div span {
    display: inline-block;
    padding: 5px 20px;
    font-size: 20px;
    color: #CCCCCC;
    margin: 0 10px;
}


/* 内容 */

#list {
    margin-left: 300px;
}

.con {
    width: 1200px;
    height: 1200px;
    margin-top: 20px;
    position: relative;
}

.nei {
    width: 100%;
    height: 2035px;
    overflow: hidden;
}

.c_lis {
    width: 700px;
    background-color: #fff;
}

.c_a {
    position: relative;
}

.c_lis img {
    width: 700px;
    height: 412px;
}

.card-body {
    width: 700px;
    height: 120px;
    padding: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, .9);
    bottom: -1px;
    left: 0;
}

.avt {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url("./img/tx.jpg") center;
}

.shu {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    font-size: 14px;
    color: #c6c6c6;
}

.text-dark {
    margin-bottom: 15px;
}

.shu span:nth-child(2) {
    margin: 0 10px;
    color: #ff3c3c;
}

.shu span:nth-child(4) {
    width: 25px;
    height: 20px;
    padding-left: 15px;
    background: url("./img/reply.png") no-repeat center left;
}

.shu span:nth-child(5) {
    width: 25px;
    height: 20px;
    padding-left: 15px;
    background: url("./img/zan.png") no-repeat center left;
}

.c_text {
    text-align: center;
    width: 700px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eae9e9;
}

.c_text span {
    font-size: 15px;
    display: inline-block;
    color: #c7c7c7;
}


/* 右边 */

.ji_g {
    width: 300px;
    margin: 0 auto;
    float: left;
    margin-left: 1200px;
    position: absolute;
    top: 0px;
}

.ji_g div:nth-child(1) {
    margin-bottom: 14px;
    padding-left: 20px;
    border-left: 5px solid #ff3c3c;
}

.j_guan {
    margin-bottom: 14px;
    padding-left: 20px;
    border-left: 5px solid #ff3c3c;
}

.ji_text {
    font-size: 14px;
    color: #b6b6b6;
}

.ji_text p:nth-child(1) {
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.ji_text p:nth-child(3) {
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.ji_text p:nth-child(5) {
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.geng {
    width: 100%;
    height: 40px;
    margin-top: 7px;
    text-align: center;
}

.geng p {
    width: 120px;
    font-size: 17px;
    color: #ff3c3c;
    margin: 0 auto;
    background: url("./css/img/more.png")no-repeat 5px 10px;
}


/* 底部开始*/

body {
    position: relative;
}

footer {
    width: 100%;
    height: 400px;
    background-color: #505050;
    position: relative;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
}

footer>img {
    float: left;
    margin-left: 250px;
    margin-top: 50px;
}

footer .five {
    float: left;
    width: 125px;
    height: 180px;
    margin-left: 10px;
    margin-top: 50px;
}

footer .five p a {
    font-size: 12px;
    margin-top: 20px;
    color: rgb(155, 152, 152);
}

footer .six {
    width: 120px;
    height: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 50px;
}

footer .six dt {
    margin-bottom: 20px;
}

footer .six dt a {
    color: rgb(155, 152, 152);
}

footer .six dd a {
    font-size: 12px;
    color: rgb(155, 152, 152);
    /* margin-top: 20px; */
}

.seven {
    width: 150px;
    height: 250px;
    float: left;
    /* margin-left: 20px; */
    margin-top: 50px;
}

.seven dt {
    color: rgb(155, 152, 152);
    margin-bottom: 20px;
}

.seven dt a {
    color: rgb(155, 152, 152);
}

.seven dd a {
    font-size: 12px;
    color: rgb(155, 152, 152);
}

.eight {
    width: 200px;
    height: 250px;
    float: left;
    /* margin-left: 20px; */
    margin-top: 50px;
}

.eight dt {
    /* color: rgb(155, 152, 152); */
    margin-bottom: 20px;
}

.eight dt a {
    color: rgb(155, 152, 152);
    margin-bottom: 20px;
}

.eight dd a {
    font-size: 12px;
    color: rgb(155, 152, 152);
}

.nine {
    width: 200px;
    height: 250px;
    float: left;
    margin-top: 50px;
}

.nine dt {
    margin-bottom: 20px;
}

.nine dt a {
    color: rgb(155, 152, 152);
}

.nine dd a {
    font-size: 12px;
    color: rgb(155, 152, 152);
}

footer .ten {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(105, 103, 103);
    border-radius: 10px;
    right: 200px;
    bottom: 100px;
}

footer .ten1 a {
    color: rgb(155, 152, 152);
    position: absolute;
    left: 45%;
    bottom: 30px;
}


/* 底部结束 */